/* ====== Секция ====== */
.services-section {
  padding: 60px 0;
  font-family: 'Arial', sans-serif;
}

/* Контейнер */
.services-container {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/* Заголовок */
.services-header h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.services-description {
  color: gray;
  font-size: 18px;
  margin-bottom: 40px;
}


/* ====== Сетка карточек ====== */
.services-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* пять в ряд */
  gap: 30px;
  justify-items: center; /* по центру внутри ячеек */
}


/* ====== Обёртка карточки ====== */
.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-card {
  width: 170px;  
  height: 140px; 
  border-radius: 20px;
  padding: 20px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
 transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.service-icon svg {
  stroke: #999999;
  fill: none; 
  width: 80px;
  height: 100px;
  transition: stroke 0.3s, transform 0.3s;
}
.service-title {
  margin-top: 12px;
  font-size: 18px;
  color: gray;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  transition:transform 0.3s;
}
.service-wrapper:hover .service-card .service-icon svg {
  stroke: #2B7DE2;
  transform: scale(1.1);
}

.service-wrapper:hover .service-title {
    color: #1a3f8b;
    font-weight: 600;
  transform: scale(1.1);
}

