.helpCont{
height: 65vh;
width: 85%;
margin: 0px auto;
display: flex;
justify-content: space-between;
}
.child{
    box-shadow: 5px 5px 5px 5px gray;
    width: 185px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 25px 25px;
    color: white;
    background-color: rgb(0, 99, 255);
    border-radius: 20px;
    margin-top: 80px;
    h3{
        margin-top: 20px;
    }
}
.iconC{
    text-align: center;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    color: white;
}
.iconCR{
    text-align: center;
    margin: 0 auto;
    width: 75px;
    height: 70px;
    color: white;  
}
.itemh3{
    color: aliceblue;
}
@media (max-width: 740px) {
    .helpCont{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
    }
    .child{
        width: 130px;
        height: 160px;
        margin-top: 30px;
    }
}
@media (max-width: 484px) {
    .canH{
        font-size: 27px;
        margin-top: 0;
    }
    .canHelp{
        height:95vh;
    }
    .helpCont{
        height: 90vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .child{
        width: 75%;
        height: 140px;
        margin-top: 30px;
        h3{
            margin-top: 20px;
            font-size: 22px;
        }
        .iconC{
            width: 65px;
            height: 65px;
            color: white;
        }
        .iconCR{
            text-align: center;
            margin: 0 auto;
            width: 70px;
            height: 70px;
            color: white;  
        }
        p{
            font-size: 17px;
        }
    }
  
}
