.helpCont{
height: 65vh;
width: 85%;
margin: 0px auto;
display: flex;
justify-content: space-between;
}
.child{
    box-shadow: 5px 5px 5px 5px gray;
    width: 185px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 25px 30px;
    color: white;
    background-color: rgb(0, 99, 255);
    border-radius: 20px;
    margin-top: 80px;
}
.iconC{
    width: 60px;
    height: 70px;
    color: white;
}
.itemh3{
    color: aliceblue;
}
@media (max-width: 740px) {
    .helpCont{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
    }
    .child{
        width: 130px;
        height: 160px;
        margin-top: 30px;
    }
}
@media (max-width: 484px) {
    .canH{
        font-size: 25px;
        margin-top: 0;
    }
    .canHelp{
        height:110vh;
    }
    .helpCont{
        height: 80vh;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .child{
        width: 75%;
        height: 140px;
        margin-top: 30px;
        h3{
            font-size: 16px;
        }
        p{
            font-size: 15px;
        }
    }
}