.reviewsDiv{
  padding: 0 0 60px;
}
.star{
  width: 19px;
  height: 19px;
  margin-left: 5px;
}
@media (max-width: 740px){
  .reviewsDiv{
    h1{
      font-size: 26px;
    }
  }
}
@media (max-width: 484px){
  .reviewsDiv{
    font-size: 26px;
  }
}