.brands-section {
  overflow: hidden;
}

.brands-marquee {
  width: 100%;
  overflow: hidden;
  padding: 60px 0 10px 0;
}

.brands-track {
  display: flex;
  align-items: center;
  gap: 48px;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.brand-item {
  flex: 0 0 auto;
}

.brand-item img {
  max-height: 90px;
  transition: 0.3s;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px){
  .brand-item img {
  max-height: 80px;
  transition: 0.3s;
}
.brands-marquee {
  padding: 15px 0 10px 0;
}

}