.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  margin: 140px 0;
}
.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
}
.marquee-item {
  width: 115px; 
  height: 75px;
  margin-right: 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 484px){
  .marquee-container{
    margin: 100px 0 50px 0;
  }
  .marquee {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  .marquee-item {
    width: 90px; 
    height: 65px;
    margin-right: 30px;
  }
}