.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  margin: 120px 0;
  display: flex;
}
.marquee {
  display: flex;
  gap: 80px;
  animation: marqueeScroll 20s linear infinite;
}
.marquee-item {
  height: 70px;
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 485px) {
  .marquee {
    gap: 50px;
    /* margin-top: 200px;
    padding: 10px 0; */
    animation: marqueeScroll 15s linear infinite;
  }
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    display: flex;
  }
  .marquee-item {
    height: 60px;
  }
}
