

.brands-section {
  overflow: hidden;
  min-height: 120px; 
}


.brands-marquee {
  width: 100%;
  overflow: hidden;
  padding: 60px 0 10px;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}



.brands-track {
  display: flex;
  align-items: center;
  gap: 48px;
  width: max-content;

  animation: scroll 40s linear infinite;


  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


.brand-item {
  flex: 0 0 auto;
}

.brand-item img {
  max-height: 90px;
  transition: 0.3s;
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 768px) {
  .brands-section {
    min-height: 100px;
  }

  .brands-marquee {
    padding: 15px 0 10px;
  }

  .brand-item img {
    max-height: 80px;
  }
}
