@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.quizDiv{
    margin-top: 50px;
    p{
        font-family: 'Poppins',sans-serif;
        font-weight: 500;
        margin-top: 20px;
    }
}
/* .progress{
    width: 400px;
    height: 22px;
    border-radius: 25px;
    background-color: #efefef ;
} */
.info{
    display: flex;
    justify-content: center;
    gap: 86px;
}
.progress{
  margin: 20px auto;
}
/* .info span{
    color: gray;
    font-size: 12px;
}
.span{
    width: 70px;
} */
/* .circle{
    width: 25px;
    height: 100%;
    border-radius: 50%;
    background-color: black;
} */
.form{
    margin: 40px auto;
    background-color: white;
    width: 470px;
    min-height: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 10px rgb(211,211,211);
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    textarea{
        padding: 20px;
        outline: none;
    }
}
.nextBtn {
   display: flex;
   justify-content: flex-end;
    button{
        padding: 7px;
        height: 40px;
        width: 140px;
    }
}
