.contGrayAbout{
    width: 100%;
    background-color:#F0F0F0;
    height: 70vh;
    padding: 50px 0;
}
.aboutCont{
    margin: 0 auto;
    width: 85%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.aboutLeft{
  width: 50%;
  img{
    width: 85%;
  }
}
.aboutRight{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 14px;
      line-height: 25px;
    }
  }
  .btnabout{
    cursor: pointer;
    margin-top: 50px;
    width: 145px;
    height: 30px;
    padding: 9px;
    background-color: #0437F2;
    border-radius: 10px;
    color: white;
  }
  @media (max-width: 484px){
    .contGrayAbout{
      padding: 5px 0;
      height: 50vh;
      .h1About{
        font-size: 25px;
      }
      margin-top: 100px;
    }
    .aboutCont{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 70px;
      height: 15vh;
    }
    .aboutRight{
      width: 100%;
      .p1{
        display: none;
      }
      .p2{
        display: none;
      }
      p{
        font-size: 14px;
      }
    }
    .aboutLeft{
      width: 100%;
       img{
        width: 95%;
       }
    }
  }
  .btnabout{
    cursor: pointer;
    margin-top: 30px;
    width: 140px;
    height: 25px;
    padding: 6px;
    background-color: #0437F2;
    border-radius: 10px;
    color: white;
  }
  @media (max-width: 740px){
    .contGrayAbout{
      padding: 50px 0 0;
      height: 57vh;
      .h1About{
        font-size: 25px;
      }
      margin-top: 300px;
    }
    .aboutCont{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      height: 45vh;
    }
    .aboutRight{
      width: 100%;
      .p1{
        display: none;
      }
      .p2{
        display: none;
      }
      p{
        font-size: 14px;
      }
    }
    .aboutLeft{
      width: 100%;
    }
  }


