.footer {
  background-color: #0f172a; 
  color: #e5e7eb;
  padding: 50px 20px 20px;
  font-family: Arial, sans-serif;
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footerH {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}


.company p {
  margin: 6px 0;
  font-size: 14px;
  color: #d1d5db;
}



.contacts p {
  margin: 6px 0;
  font-size: 14px;
  color: #d1d5db;
}

.footerLink {
  display: block;
  margin: 6px 0;
  font-size: 14px;
  color: #d1d5db;
  text-decoration: none;
}

.footerLink:hover {
  color: #38bdf8;
}



.social {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.iconF {
  font-size: 34px;
  color: #d1d5db;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconF:hover {
  transform: scale(1.15);
  color: #38bdf8;
}



.footer hr {
  border: none;
  border-top: 1px solid #334155;
  margin: 40px 0 20px;
}



.rights {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 13px;
  color: #9ca3af;
}

.rights p {
  margin: 0;
  color: #9ca3af;
}

.rights p:hover {
  color: #38bdf8;
}


@media (max-width: 768px) {
  .footerInner {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .social {
    justify-content: center;
  }

  .rights {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 480px){

   .company p{
    font-size: 15px;
  }
    .contacts p{
    font-size: 15px;
  }
    .contacts a{
    font-size: 15px;
  }
}
