.footer{
    width: 100%;
    min-height: 200px;
    padding: 20px 0 0;
    background-color: #F2F0F0;
}
.footerInner{
    display: flex;
    font-size: 14.5px;
    justify-content: space-around;
    width: 70%;
    margin: 40px auto;
}
.footerH{
    margin-bottom: 20px;
}
.iconF{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #20B2AA;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights{
   font-size: 13px;
   color: #3a3b3c;
    width: 180px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0;
}
@media (max-width: 484px){
.footerInner{
  flex-direction: column;
}
.contacts{
    margin-top: 20px;
}
.footerH{
    margin-bottom: 15px;
}
.social{
    margin-top: 20px;
}
.rights{
    font-size: 12px;
}
}
