*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.appContent {
  margin-top: 120px;
}
.paddingofblocks{
    padding: 60px 0;
}
.width{
  width: 90%;
}
h2{
  margin: 0;
}
.h2Topic{
   text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 37px;
    color: #0A2540;
}
section {
  scroll-margin-top: 100px;
}
